/* RESET */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #424242;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 90px;
}

:root {
    --main-color: #B53232;
    --main-color-light: #f37474;
}

@media (min-width: 992px) {
    boby {
        padding-top: 120px;
    }
}

/* HEADER */
.header {
    background-color: #F4F2F2;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.header div {
    display: flex;
    align-items: center;



}

.logo {
    margin-right: auto;
}

#btn-cart {
    width: 60px;
    height: 60px;
    background-color: #F4F2F2;
    position: relative;
    cursor: pointer;
}

.btn-cart-badge {
    color: var(--main-color);
    border: 1px solid #B53232;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.btn-cart-badge-show {
    display: flex;
}

@media (min-width: 992px) {
    .logo {
    height: 100px;
    width: auto;
    }
}

/* CONTAINER */
.container {
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width: 576px) {
    .container {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container {
    width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* TITLES */

h2, .h2 {
    font-size: 24px;
    font-weight: 600;
    color: #999999;
    margin-bottom: 8px;
}

h3, .h3 {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.title-subtitle {
    font-weight: 600;
    color: #380808;
    font-size: 36px;
    text-align: center;
    margin: 30px 0 15px;
}

/* CARD */

.card {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content .btn {
    margin-top: auto;
}

/* PRICE */

.price {
    color: #37C957;
    font-weight: 600;
}

/* BUTTONS */

 .btn {
     text-align: center;
     font-size: 16px;
     border-radius: 5px;
     display: block;
     width: 100%;
     padding: 9px 0;
     border: 1px solid var(--main-color);
     cursor: pointer;
 }

 .btn-main {
     background-color: var(--main-color);
     color: #FFF;
 }

 .btn-main:hover {
     background-color: var(--main-color-light);
 }

 .btn-outline {
     background-color: transparent; 
     color: var(--main-color);
 }

 .btn-outline:hover {
     background-color: var(--main-color);
     color: #FFF;
 }

 /* PRODUCTS GRID */

 .products-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 12px;
     margin-bottom: 15px;
     grid-auto-rows: 1fr;
 }

 .error-alert {
    background-color: #fcc2c2;
    border: 1px solid #bd5656;
    border-radius: 4px;
    padding: 10px 15px;
    color: #8c0606;
 }

 @media (min-width: 576px) {
     .products-grid {
         grid-template-columns: 1fr 1fr 1fr;
     }
 } 
 
 @media (min-width: 992px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .title-subtitle {
        padding-top: 30px;
    }
}


/* FOOTER */

.footer {
    background-color: #333;
    color: #FFF;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
}

.footer p {
    margin-bottom: 12px;
}

.footer a {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.footer .fa-whatsapp-square {
    color: #26D367;
    font-size: 44px;
    margin-right: 14px;
    vertical-align: middle;
}

@media (min-width: 576px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer p {
        margin: 0 40px 0 0;
    }
}

/* CART SIDEBAR */

.cart-sidebar {
    position: fixed;
    background-color: #FFF;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    padding: 15px;
}

.cart-sidebar-open {
    display: flex;
}

#btn-close-cart {
    font-size: 30px;
    color: var(--main-color);
    background-color: transparent;
    align-self: flex-end;
   
}

#empty-cart {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-cart.empty-cart-show {
    display: flex;
}

#empty-cart .fa-bag-shopping{
    color: var(--main-color);
    font-size: 154px;
    opacity: 0.2;
    margin-bottom: 25px;

}

#cart-with-products ul { 
    list-style: none;
}

#cart-with-products li { 
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 0;
}

#cart-with-products li img { 
    border-radius: 5px;
    object-fit: cover;
}

#cart-with-products li .form-input {
    width: 68px;
    text-align: center;
    align-self: center;
}

#cart-with-products li button {
    color: var(--main-color);
    font-size: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    align-self: center;
    cursor: pointer;
}
#cart-with-products li div {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.cart-total p:last-child{
    font-size: 18px;
}

.cart-total .h2 {
    margin: 0;
}

#cart-with-products {
    overflow: auto;
    display: none;

}
#cart-with-products.cart-with-products-show {
    display: block;

}


#cart-with-products .btn-outline {
    margin-bottom: 12px;
 }

@media (min-width: 768px) {
    .cart-sidebar {
        width: 428px;
    }
}

/* FORMS */

.form-input {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    height: 38px;
    font-family: inherit;
    padding: 9px;
    font-size: 16px;

}