/* RESET */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #424242;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 100px;
}

:root {
    --main-color: #B53232;
}

/* HEADER */
.header {
    background-color: #F4F2F2;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.header div {
    display: flex;
    align-items: center;


}

.logo {
    margin-right: auto;
}

#btn-cart {
    width: 60px;
    height: 60px;
    background-color: #F4F2F2;
    position: relative;
}

.btn-cart-badge {
    color: var(--main-color);
    border: 1px solid #B53232;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

@media (min-width: 576px) {
    .container {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container {
    width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}